.form {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    width: 350px;
    padding-left: 15px;
    border: 1px solid black;
}

.label {
    font-size: 18px;
    display: flex;
    flex-direction: column;
   margin-top: 10px;
}

.input {
    margin-left: 0;
    margin-right: auto;
    height: 20px;
}

.button{
    margin-left: 0;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 10px;
background-color: rgb(61, 203, 231);
}